.toolbar{
   width:300px;
   display: flex;
   justify-content: space-between;
   &__icon{
      width:60px;
      height:36px;
      border-left: 1px dotted #c6d2d9;
      display: flex;
      align-items: center;
      padding: 0 20px;
      &:nth-child(3){
         border-right: 1px dotted #c6d2d9;
      }
   }
}