.SidebarWrapper{
   position: fixed; 
   top: 50px;
   left: 0;
   width: 74px;
   height: 100%;
   background-color: #fff;
   border-right: #c6d2d9 1px solid;
   overflow: hidden;
   transition: all 0.3s ease-in-out;
   &__label{
      color: #a3a3a3;
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      padding-left: 25px;
      display:none;
      transition: all 0.3s ease-in-out;
   }
   &__list{
     list-style-type: none;
     padding:0;
     margin: 0;
     &-item{
        height: 50px;
        display: flex;
        align-items: center;
        padding-left: 25px;
        cursor: pointer;
        &:hover{
           background-color: #e4eaee;
        }
        &-active{
           background-color: #e4eaee;
        }
      &-link{
        text-decoration: none;
        margin-left: 30px;
        color: #000;
     }}
   }
}

