.HeaderWrapper{
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 50px;
   width: 100vw;
   padding: 0 25px;
   border: 1px solid #c6d2d9;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1;
   background-color: #fff;
}